---
import NavBar from "../components/NavBar.astro";
import MainLayout from "../layouts/MainLayout.astro";
import CustomTitle from "../components/CustomTitle.astro";



---

<MainLayout title="About Page">
	<h1>About</h1>
	<CustomTitle title="this is a custom title" />
</MainLayout>

<style is:inline>
	h1{
		color:red
	}
</style>



		

